#container {
	background-color:#fff;
	width: 1024px;
	height: 100px;
	margin: 0 auto;
}

hr.line2{
	border-top: 3px solid rgb(24,189,222);
	border-radius: 15%;
	margin: 0px 0px 5px;
}	

/* html, body { box-sizing: border-box; padding: 0; margin: 0; text-align: center; }
*, *:before, *:after { box-sizing: inherit; } */

/* ==================================== section ====================================== */

section {
	background-color:#fff;
	float: left;
	width: 1024px;
	height: 800px;
	overflow: hidden;
	
}

.main-visual-wrap{
	width: 1024px;
	height: 720px;
}

.bx-controls {
	width: 1024px;
	height: 50px;
}

.bx-controls img {
	height: 50px;
	width: 50px;
}
.bx-control-prev_next img {
	height: 50px;
	width: 50px;
}

.bx-wrapper {
	position: relative;
	max-width: 100%;
 	margin: auto; 
}

.bx-viewport {
	width: 100%; 
	overflow: hidden; 
	position: relative;
	height: 100%;
}

.slider-box {
	width: 1000%;
	position: relative;
	transition-duration: 0.5s;
	transform: translate3d();
}

.slider-box.animated {
	-webkit-transition: left .5s ease-in;
	transition: left .5s ease-in;
}

.visual img{
	 display: table;
	 float: left; 
	 width: 1024px; 
	 height: 720px;
}

.imagePager {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.imagePager li {
	display: inline-block;
	text-indent: -9999rem;
	border-radius: 50%;
	background-color: var(--color-gray);
	/* text-align: center; */
}

.imagePage li img {
	width: 30px;
	height: 30px;
}

.imagePager li.active {
	background-color: var(--color-black);
	transition: .3s  linear;
}

.bx-prev, .bx-next { 
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%);
	display: inline-block;
	width: 4rem;
	height: 100%;
	background-color: #fff;
	border: none;
 }

.bx-prev.disabled, .bx-next.disabled { 
	display: none;
}

.bx-prev { 
	left: 0; 
}
.bx-next { 
	right: 0; 
}

.bx-prev:hover, .bx-next:hover { 
	
}

/* ==================================== aside ====================================== */

aside #members {
	border-radius: 25%;
	margin: 8px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;	
}

