#container {
	background-color:#fff;
	width: 1024px;
	height: 1200px;
	margin: 0 auto;
}

hr.line2{
	border-top: 3px solid rgb(24,189,222);
	border-radius: 15%;
	margin: 0px 0px 5px;
}	

html, body { box-sizing: border-box; padding: 0; margin: 0; text-align: center; }
*, *:before, *:after { box-sizing: inherit; }

/* ==================================== section ====================================== */

section {
	background-color:#fff;
	float: left;
	width: 1024px;
	height: 710px;
	overflow: hidden;
	
}

.main-visual-wrap{
	width: 1024px;
	height: 720px;
}

.bx-controls img {
	width: 1.5rem;
	height: 1.5rem;
}

.bx-wrapper {
	position: relative;
	max-width: 100%;
 	margin: auto; 
}

.bx-viewport {
	width: 100%; 
	overflow: hidden; 
	position: relative;
	height: 100%;
}

.slider-box {
	width: 615%;
	position: relative;
	transition-duration: 0.5s;
	transform: translate3d();
}

.visual img{
	display: table;
	 float: left; 
	 width: 1024px; 
	 height: 720px;
}

.pagerContainer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.bx-pager-item {
	display: inline-block;
	text-indent: -9999rem;
	border-radius: 50%;
	background-color: var(--color-gray);
}


.slide_btn_box > button { 
	position: absolute; 
	top: 50%; 
	margin-top: -45px; 
	width: 60px; height: 60px; 
	font-size: 16px; color: #999;
	background: none; 
	border: 1px solid #ddd; 
	cursor: pointer;
 }
.bx-prev { 
	left: -100px; 
}
.bx-next { 
	right: -100px; 
}

/* ==================================== aside ====================================== */

aside #members {
	border-radius: 25%;
	margin: 8px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;	
}

