#container {
	background-color:#fff;
	width: 1024px;
	height: 1400px;
	margin: 0 auto;
}

hr.line2{
	border-top: 3px solid rgb(24,189,222);
	border-radius: 15%;
	margin: 0px 0px 5px;
}	

/* ==================================== section ====================================== */

section {
	background-color:#fff;
	width: 1024px;
	height: 1250px;
}

.column-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1024px;
	flex-wrap: wrap;
	height: 450px;
	margin-top: 30px;
}

.column-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1024px;
	flex-wrap: wrap;
	height: 600px;
	margin-top: 30px;
}

.content-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1024px;
	flex-wrap: wrap;
	height: 600px;
	margin-top: 30px;
}


.sb-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 400px;
	height: 50px;
	margin: 0 auto
}

.sb-title h4 {
	color: orange;
	font-size: 2rem;
	font-family: 'Jua', sans-serif;
	text-shadow: 2px 2px 2px orangered;
	text-align: center;
	margin: 0;
	padding-left: 10px;
}

.attraction {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
	width: 510px;
	height: 450px;
}


.gourmandise {
	display: felx;
	flex-direction: row;
	justify-content: right;
	flex-wrap: wrap;
	width: 510px;
	height: 450px;
}

ul.columns {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	width: 500px;
	height: 390px;
	padding-left: 10px;
}

.column {
	width: 185px;
	height: 130px;
	text-decoration: none;
}

.content-img-wrapper {
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
	flex-wrap: wrap;
	width: 510px;
	height: 450px;
}

.content-text {
	width: 510px;
	height: 450px;
}

.content-img {
	width: 220px;
	height: 150px;
}

.content-img:hover {
	transform: scale(1.1);
}

.text-line {
	color:  rgb(24,189,222);
	font-family: 'Dongle', sans-serif;
	font-size: 1.8rem;
	margin: 5px;
}

.text-line a {
	text-decoration: none;
	color:  rgb(24,189,222);
	font-family: 'Dongle', sans-serif;
	font-size: 1.8rem;
}

.text-line a:active, .text-line a:visited, .text-link a:link, .text-link a:hover {
	text-decoration: none;
	color:  rgb(24,189,222);
	font-family: 'Dongle', sans-serif;
	font-size: 1.8rem;
}

.sb-title > img {
	width: 50px;
	height: 50px;
}

.thumb-area {
	width: 185px;
	height: 130px;
	margin: 3px;
}

.img-cultural-tour {
	width: 180px;
	height: 125px;
}

.title-cultural-tour {
	font-family: 'Nanum Pen Script', cursive;
    font-size: 1.5rem;
    border-radius: 7%;
    color: rgb(24,189,222);
    width: 190px;
    height: 2rem;
	text-align: center;
	margin: 0;
}

.content-title p {
	color: orange;
	font-size: 2rem;
	font-family: 'Jua', sans-serif;
	text-shadow: 2px 2px 2px orangered;
	text-align: center;
}

/* =========================== 모달 창 ============================================*/
.modal-custom-button {
	width: 230px;
	height: 155px;
	background-color: #fff;
	border: none;
}
.modal-custom {
	display: none; 
	position: fixed; 
	z-index:1; 
	padding-top:100px; 
	left:0; top:0; 
	width:100%; 
	height:100%; 
	overflow:auto;
	background-color:rgb(0,0,0); 
	background-color:rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
	 position: relative; 
	 background-color:#fefefe; 
	 margin:auto; padding:0; 
	 width:80%; 
	 -webkit-animation-name:animatetop; 
	 -webkit-animation-duration:0.4s; 
	 animation-name:animatetop; 
	 animation-duration:0.4s
}

@-webkit-keyframes animatetop {
     from{top:-300px; opacity:0}
     to{top:0; opacity:1}
}
@keyframes animatetop {
    from{top:-300px; opacity:0}
    to{top:0; opacity:1}
}
.close-modal {
	color:white;
	float:right;
	font-size:28px; 
	font-weight:bold; 
}
.close-modal:hover, .close-modal:focus {
	color:#000; 
	text-decoration:none; 
	cursor:pointer; 
}
.modal-header{
	padding:2px 16px; 
	background-color:#5cb85c; 
	color:white; 
}

.modal-body{
	padding:2px 16px; 
}

