#container {
	background-color:#fff;
	width: 1024px;
	height: 2160px;
	margin: 0 auto;
}

hr.line2{
	border-top: 3px solid rgb(24,189,222);
	border-radius: 15%;
	margin: 0px 0px 5px;
}	

/* ==================================== section =================================== */

.form {
    display: block;
    margin-top: 0rem;
    margin: 0px auto;
    font-family: 'Dongle', sans-serif;
    text-align: center;
    font-size: 2rem;
}

body form  p {
    font-size: 4rem;
    margin: 5rem 0rem 1rem;
}

body form > p {
    font-size: 5rem;
    margin: 5rem;
}

.delete_btn img {
    width: 15px;
    height: 15px;
}

.container{
    height: auto;
}

.input_container {
    width: 290px;
    height: 48px;
    margin: 0px auto;
    padding: 0px;
}

#id  {
    width: 210px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}

#phone {
    width: 280px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}
#email {
    width: 280px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}

#user_name {
    width: 280px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}


#password {
    width: 350px;
    height: 42px;
    font-size: 0.9rem;
    border: 0px;
}

#password_confirm {
    width: 280px;
    height: 42px;
    font-size: 0.9rem;
    border: 0px;
}

#id:focus {
    outline: none;
}

#password:focus {
    outline: none;
}

#password_confirm:focus {
    outline: none;
}

#user_name:focus {
    outline: none;
}

#phone:focus {
    outline: none;

}
#email:focus {
    outline: none;
}

.wrapper{
    padding-bottom: 40px;
}

.title_id{
    margin-top: 40px;
}
.title_pw{
    margin-top: 24px;
}
.title-name{
    margin-top: 24px;
}
.title_phone{
    margin-top: 24px;
}

.row_area{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.row_area .btn_white, .row_area .btn_blue{
    width: 106px;
    height: 48px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.25px;
}
.btn_certification{
    width: 72px !important;
}
.row_area .input_wrapper{
    margin-left: 8px;
}

.btn_signup{
    width: 100%;
    height: 48px;
    margin-top: 56px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
}

.form span{
    color: red;
    font-size: 21px;
    margin: 5px;
    display: inline-block;
    position: absolute;
}

.input_wrapper{
    margin-top: 8px;
    flex: 1;
}

.input_wrapper_check .input_container{
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 200px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 42px 0px 16px;
    
}

.address .input_container{
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 212px;
    background: #FFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 42px 0px 16px;
    margin-bottom: 10px;
}

.input_container_postCode {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 135px;
    background: #FFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 2px 0px 16px;
}

.input_container_birth {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 212px;
    background: #FFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 2px 0px 16px;
    margin: 0 auto;
}

#birth {
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}

#postcode {
    border: 0;
    width: 110px;
    height: 43px;
    font-size: 1rem;
}

#address {
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}
#address_detail{
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}

#extraAddress {
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}

#postcode:focus {
    outline: none;
}

#address:focus {
    outline: none;
}
#address_detail:focus {
    outline: none;
}

#extraAddress:focus {
    outline: none;
}


.input_wrapper .input_container {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 42x 0px 16px;
    
}
.input_wrapper .input_certification{
    padding: 0px 60px 0px 16px;
}

.input_wrapper {
    border-color: #777777;
}

.input_wrapper .input_container input{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #333333;
}

.input_wrapper .input_container input::placeholder {
    color: #CACACA;
}


.input_wrapper .input_container .timer_item {
    position: absolute;
    top:50%;
    right: 16px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #333333;
}
.error_item{
    display: none;
    margin: 4px 0px 0px 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #FF1515;
}

.success_item{
    display: none;
    margin: 4px 0px 0px 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #219DDE;
}


.btn_blue{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #219DDE;
    border: 1px solid #219DDE;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    color: #FFFFFF;
}

.btn_white{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #219DDE;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    color: #219DDE;
}

.btn-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #219DDE;
    border: 1px solid #219DDE;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
    width: 15rem;
    height: 3rem;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
}

.row_area_bir{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    width: 300px;
    margin: 8px auto;
}

.input_container_birth {
    width: 62px;
    padding: 0;
}

#year {
    width: 60px;
    height: 38px;
    font-size: 1.1rem;
    border: 0px;
    padding: 0;
}
#month {
    width: 60px;
    height: 38px;
    font-size: 1.1rem;
    border: 0px;
    padding: 0;
}
#day {
    width: 60px;
    height: 38px;
    font-size: 1.1rem;
    border: 0px;
    padding: 0;
}

#year:focus {
    outline: none;
}
#month:focus {
    outline: none;
}

#day:focus {
    outline: none;
}

.signupInfoOptionTitle {
    width: 500px;
    margin: 0 auto;
}

.signupInfoOptionTitle p {
    font-size: 5rem;
}

/* ==================================== aside ====================================== */

aside #members {
	border-radius: 25%;
	margin: 8px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;	
}
