#container {
	background-color:#fff;
	width: 1024px;
	height: 2160px;
	margin: 0 auto;
}

hr.line2{
	border-top: 3px solid rgb(24,189,222);
	border-radius: 15%;
	margin: 0px 0px 5px;
}	


/* ==================================== header ====================================== */

header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color:#fff;
	padding: 1px 5px;
	margin: 0px 0px 30px
}

.mainTitle {
	height: 150px;
}

header h1 {
	color:  rgb(24,189,222);
	font-family: 'Oleo Script', cursive;
	font-style: italic;
	font-size: 80px;
	text-shadow: 4px 2px 0px orange;
	margin: 10px 0px 0px;
	width: 450px;
}

header h2 {
	color: orange;
	font-size: 40px;
	font-family: 'Jua', sans-serif;
	text-shadow: 2px 2px 2px orangered;
	margin: 25px;
}

header a {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
	border-radius: 7%;
	text-shadow: 1px 0px 0px skyblue;
	margin: 5px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;
	width: 8em;
	height: 2.5em;
}

header a:hover {
	color: #fff;
	background-color: rgb(24,189,222);
}

#subTitle {
	margin: 0px 600px 10px 10px;
}

ul.navi {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin: 0px 0px 0px 420px;
	width: 575px;
	height: 50px
}

ul.navi li {
	list-style: none;
	margin: 0 auto;
	height: 40px;
	width: 250px;
}

ul.navi li a {
	text-shadow: 1px 0px 0px skyblue;
}

ul.li div, ul.navi div, header li div {
	display: none;
}

ul.member > li:hover div, ul.navi > li:hover div  {
	display: block; 
}

ul.member {
	list-style: none; 
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: right;
	padding: 0px;
	width: 300px;
}
 
ul.member a {
	font-family: 'Jua', sans-serif;
	font-size: 25px;
	color: orange;
	text-shadow: 2px 2px 2px orangered;
}

ul.member li {
	border-radius: 25%;
	list-style: none;
	text-align: center;
	width: 6em;
	height: 2.5em;
}

/* ====================================== section ===================================== */

.input-title-item{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.25px;
    color: #666666;
    margin-left: 8px;
}
.input-title-item span{
    color: red;
    font-size: 21px;
    margin: 5px;
    display: inline-block;
    position: absolute;
}
.input-wrapper-margin{
    margin-top: 8px;
}
.input-wrapper{
    flex: 1;
    margin: 0px 0px 10px;
}
.input-wrapper .input-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 42px 0px 16px;
    margin: 0 auto;
}
.input-wrapper .input-certification{
    padding: 0px 60px 0px 16px;
}
.input-wrapper .input-container-active{
    border-color: #777777;
}
.input-wrapper .input-container input{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #333;
}
.input-wrapper .input-container input::placeholder {
    color: #CACACA;
}
.input-wrapper .input-container .delete-btn{
    display: none;
    position: absolute;
    top:50%;
    right: 2px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}
.input-wrapper .input-container .timer-item{

    position: absolute;
    top:50%;
    right: 16px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #333;
}
.error-item{
    display: none;
    margin: 4px 0px 0px 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #FF1515;
}
.success-item{
    display: none;
    margin: 4px 0px 0px 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #219DDE;
}

#input-user-id {
    border: 0px;
}

#input-password {
    border: 0px;
}

#input-user-id:focus {
    outline: none;
}

#input-password:focus {
    outline: none;
}

p {
    font-family: 'Jua', sans-serif;
    font-size: 1.5rem;
    color: rgb(24,189,222);
    text-shadow: 2px 2px 2px orange;
}

a {
    font-family: 'Jua', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(24,189,222);
    text-shadow: 2px 2px 2px orange;;
}

button {
    font-family: 'Jua', sans-serif;
    background-color: rgb(24,189,222);
    border: none;
    color: white;
}

.checkbox-auto-login-container{
    text-align: left;
}
.checkbox-auto-login-container input[type="checkbox"] {
    display:none;
}
.checkbox-auto-login-container input[type="checkbox"] + label{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.25px;
}
.checkbox-auto-login-container input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin-bottom: 2px;
    margin-right: 6px;
    vertical-align:middle;
    cursor:pointer;
    background:url('/images/') no-repeat;
    background-size: contain;
}
.checkbox-auto-login-container input[type="checkbox"]:checked + label span {
    background:url('/images/') no-repeat;
    background-size: contain;
}


.signinTtitle h3 {
    color:  rgb(24,189,222);
    font-family: 'Jua', sans-serif;
	font-size: 4rem;
	text-shadow: 4px 2px 0px orange;
	margin: 10px 0px 0px;
    text-align: center;
}

.container{
    min-height: 772px;
}
.wrapper{
    text-align: center;
    margin-top: 0px;
}

.logo-item{
    margin-top:48px;
}

.login-title-item{
    display: none;
    margin-top: 88px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #333333;
}

.id-input{
    margin-top: 50px;
}
.password-input{
    margin-top: 8px;
}

.row{
    display: flex;
    align-items: center;
    margin-top: 11px;
    width: 500px;
    margin: 0 auto;
}

.link-item{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.auto-login-item{
    margin-right: auto;
}
.find-password-item{
    margin-left: auto;
}
.link-divider-item{
    width: 1px;
    height: 10px;
    margin: 0px 8px;
    background: #DDDDDD;
}

.btn-login{
    width: 365px;
    height: 48px;
    margin-top: 20px;
    margin: 0 300px 0px 330px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
}



/* ====================================== aside ======================================= */

aside #members {
	border-radius: 25%;
	margin: 8px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;	
}

/* ==================================== footer ======================================== */

footer {
	background-color: #fff;
	clear: both;
	width: 1024px;
	height: 100px;
}

footer h3 {
	padding: 15px 5px 0px;
	margin: 5px 5px;
}

footer p {
	text-align: center;
	margin: 0 auto;
}