#container {
	background-color:#fff;
	width: 1024px;
	height: 2160px;
	margin: 0 auto;
}

hr.line2{
	border-top: 3px solid rgb(24,189,222);
	border-radius: 15%;
	margin: 0px 0px 5px;
}	

/* ==================================== header ====================================== */

header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color:#fff;
	padding: 1px 5px;
	margin: 0px 0px 30px
}

.mainTitle {
	height: 150px;
}

header h1 {
	color:  rgb(24,189,222);
	font-family: 'Oleo Script', cursive;
	font-style: italic;
	font-size: 80px;
	text-shadow: 4px 2px 0px orange;
	margin: 10px 0px 0px;
	width: 450px;
}

header h2 {
	color: orange;
	font-size: 40px;
	font-family: 'Jua', sans-serif;
	text-shadow: 2px 2px 2px orangered;
	margin: 25px;
}

header a {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
	border-radius: 7%;
	text-shadow: 1px 0px 0px skyblue;
	margin: 5px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;
	width: 8em;
	height: 2.5em;
}

header a:hover {
	color: #fff;
	background-color: rgb(24,189,222);
}

#subTitle {
	margin: 0px 600px 10px 10px;
}

ul.navi {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin: 0px 0px 0px 420px;
	width: 575px;
	height: 50px
}

ul.navi li {
	list-style: none;
	margin: 0 auto;
	height: 40px;
	width: 250px;
}

ul.navi li a {
	text-shadow: 1px 0px 0px skyblue;
}

ul.li div, ul.navi div, header li div {
	display: none;
}

ul.member > li:hover div, ul.navi > li:hover div  {
	display: block; 
}

ul.member {
	list-style: none; 
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: right;
	padding: 0px;
	width: 300px;
}
 
ul.member a {
	font-family: 'Jua', sans-serif;
	font-size: 25px;
	color: orange;
	text-shadow: 2px 2px 2px orangered;
}

ul.member li {
	border-radius: 25%;
	list-style: none;
	text-align: center;
	width: 6em;
	height: 2.5em;
}
/* ==================================== section =================================== */



.form {
    display: block;
    margin-top: 0rem;
    margin: 0px auto;
    font-family: 'Dongle', sans-serif;
    text-align: center;
    font-size: 2rem;
}

body form  p {
    font-size: 4rem;
    margin: 5rem 0rem 1rem;
}

body form > p {
    font-size: 5rem;
    margin: 5rem;
}

.delete_btn img {
    width: 15px;
    height: 15px;
}

.container{
    height: auto;
}

.input_container {
    width: 290px;
    height: 48px;
    margin: 0px auto;
    padding: 0px;
}

#id  {
    width: 210px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}

#phone {
    width: 280px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}

#name {
    width: 280px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}


#password {
    width: 280px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}

#password_confirm {
    width: 280px;
    height: 42px;
    font-size: 1rem;
    border: 0px;
}

#id:focus {
    outline: none;
}

#password:focus {
    outline: none;
}

#password_confirm:focus {
    outline: none;
}

#name:focus {
    outline: none;
}

#phone:focus {
    outline: none;
}

.wrapper{
    padding-bottom: 40px;
}

.title_id{
    margin-top: 40px;
}
.title_pw{
    margin-top: 24px;
}
.title-name{
    margin-top: 24px;
}
.title_phone{
    margin-top: 24px;
}

.row_area{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.row_area .btn_white, .row_area .btn_blue{
    width: 106px;
    height: 48px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.25px;
}
.btn_certification{
    width: 72px !important;
}
.row_area .input_wrapper{
    margin-left: 8px;
}

.btn_signup{
    width: 100%;
    height: 48px;
    margin-top: 56px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
}

.form span{
    color: red;
    font-size: 21px;
    margin: 5px;
    display: inline-block;
    position: absolute;
}

.input_wrapper{
    margin-top: 8px;
    flex: 1;
}

.input_wrapper_check .input_container{
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 200px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 42px 0px 16px;
    
}

.address .input_container{
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 212px;
    background: #FFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 42px 0px 16px;
    margin-bottom: 10px;
}

.input_container_postCode {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 135px;
    background: #FFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 2px 0px 16px;
}

.input_container_birth {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 212px;
    background: #FFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 2px 0px 16px;
    margin: 0 auto;
}

#birth {
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}

#postcode {
    border: 0;
    width: 110px;
    height: 43px;
    font-size: 1rem;
}

#address {
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}
#address_detail{
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}

#extraAddress {
    border: 0;
    width: 300px;
    height: 43px;
    font-size: 1rem;
}

#postcode:focus {
    outline: none;
}

#address:focus {
    outline: none;
}
#address_detail:focus {
    outline: none;
}

#extraAddress:focus {
    outline: none;
}


.input_wrapper .input_container {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 4px;
    padding: 0px 42px 0px 16px;
    
}
.input_wrapper .input_certification{
    padding: 0px 60px 0px 16px;
}

.input_wrapper {
    border-color: #777777;
}

.input_wrapper .input_container input{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #333333;
}

.input_wrapper .input_container input::placeholder {
    color: #CACACA;
}


.input_wrapper .input_container .timer_item {
    position: absolute;
    top:50%;
    right: 16px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #333333;
}
.error_item{
    display: none;
    margin: 4px 0px 0px 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #FF1515;
}

.success_item{
    display: none;
    margin: 4px 0px 0px 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #219DDE;
}


.btn_blue{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #219DDE;
    border: 1px solid #219DDE;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    color: #FFFFFF;
}

.btn_white{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #219DDE;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    color: #219DDE;
}

.btn-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #219DDE;
    border: 1px solid #219DDE;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
    width: 15rem;
    height: 3rem;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.25px;
}


/* ==================================== aside ====================================== */

aside #members {
	border-radius: 25%;
	margin: 8px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;	
}

/* =============================== footer ====================================== */

footer {
	background-color: #fff;
	clear: both;
	width: 1024px;
	height: 100px;
}

footer h3 {
	padding: 15px 5px 0px;
	margin: 5px 5px;
}

footer p {
	text-align: center;
	margin: 0 auto;
}